CUPS_ADMIN_USER=admin
CUPS_ADMIN_PASSWORD=changeme

CUPS_WEBINTERFACE=yes
CUPS_SHARE_PRINTERS=yes
# Never give this a cloudflared Public Hostname rule — plaintext-password admin UI.
CUPS_REMOTE_ADMIN=yes

CUPS_ACCESS_LOGLEVEL=config
CUPS_LOGLEVEL=warn
CUPS_ENV_DEBUG=no

CUPS_IP=
CUPS_HOSTNAME=

CUPS_SSL_CERT=
CUPS_SSL_KEY=

AVAHI_INTERFACES=
AVAHI_IPV6=no
AVAHI_REFLECTOR=no
AVAHI_REFLECT_IPV=no

CUPS_LPADMIN_PRINTER1=lpadmin -p Brother_DCP-1610W_series -D 'Brother DCP-1610W series' -m drv:///brlaser.drv/br1600.ppd -v 'usb://Brother/DCP-1610W%20series?serial=E74230M8N868954' -o printer-is-shared=true
CUPS_LPADMIN_PRINTER1_ENABLE=cupsenable Brother_DCP-1610W_series
CUPS_LPADMIN_PRINTER1_ACCEPT=cupsaccept Brother_DCP-1610W_series
